ifly_good/bin/
ifly/bin/
ifly/samples/aiui_sample/build/read_json.py
ifly_good/samples/aiui_sample/build/demo*
ifly_good/samples/aiui_sample/build/tts_sample*
ifly_good/samples/aiui_sample/build/iat_*
ifly_good/samples/aiui_sample/build/read_json.py
/home/vic/gc/ifly_good/samples/aiui_sample/build/msc/*log
